<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <title>Text Utilities | Sahu UI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../component.css">    
    <link rel="stylesheet" href="textUtilities.css">    
</head>
<body>
    
    <div class="navigation-bar">
        <div class="logo">
            <a href="../index.html">
                <img class="logo-img" src="/images/favicon.png" alt="" srcset="">
                <h3>Sahu UI</h3>
            </a>
        </div>
        <div class="humber-icon">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </div>
    </div>

    <div class="container">
        <div class="sidebar-wrapper trans-off">
            <div class="sidebar">
                <div class="sidebar-header">
                    <div class="logo">
                        <a href="/index.html">
                            <img class="logo-img" src="/images/favicon.png" alt="" srcset="">
                            <h3 class="logo-text">Sahu UI</h3>
                        </a>
                    </div>
                </div>
                <a href="../main.html" class="install-text">Installation</a>
                <div class="sidebar-main">
                    <a href="../alert/alert.html">Alert</a>
                    <a href="../avatar/avatar.html">Avatar</a>
                    <a href="../badge/badge.html">Badge</a>
                    <a href="../button/button.html">Button</a>
                    <a href="../card/card.html" class="active-page">Card</a>
                    <a href="../image/image.html">Image</a>
                    <a href="../input/input.html">Input</a>
                    <a href="../list/list.html">Lists</a>
                    <a href="../modal/modal.html">Modal</a>
                    <a href="../navigation/navigation.html">Navigation</a>
                    <a href="../rating/rating.html">Rating</a>
                    <a href="../grid/grid.html">Responsive Grid</a>
                    <a href="../slider/slider.html">Slider</a>
                    <a href="../text-utilities/textUtilities.html" class="active-page">Text Utilities</a>
                    <a href="../toast/toast.html">Toast</a>
                </div>
                <div class="icon-bar">
                    <a href="https://github.com/CallMeSahu" class="github">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/siddhartha-sahu/" class="linkedin">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="https://twitter.com/CallMeSahu" class="twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section-header">
                <div>
                    <h1>Text Utilities</h1>
                    <p class="paragraph">Text Utilities are used to control alignments with different sizes and also to center text.</p>
                </div>
            </div>
            
            <div class="section-main">
                <div class="section-main-text">
                    <h2 class="section-main-text-header">Heading Text Types</h2>
                </div> 
                
                <div class="text-container">
                    <!-- Heading Text -->
                    <h1>h1 Heading</h1>
                    <h2>h2 Heading</h2>
                    <h3>h3 Heading</h3>
                    <h4>h4 Heading</h4>
                    <h5>h5 Heading</h5>
                    <h6>h6 Heading</h6>
                </div>

                <div class="doc-img">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%2814%2C165%2C233%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253C%21--%2520Heading%2520Text%2520--%253E%250A%253Ch1%253Eh1%2520Heading%253C%252Fh1%253E%250A%253Ch2%253Eh2%2520Heading%253C%252Fh2%253E%250A%253Ch3%253Eh3%2520Heading%253C%252Fh3%253E%250A%253Ch4%253Eh4%2520Heading%253C%252Fh4%253E%250A%253Ch5%253Eh5%2520Heading%253C%252Fh5%253E%250A%253Ch6%253Eh6%2520Heading%253C%252Fh6%253E"
                        style="width: 100%; height: 310px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <div class="section-main-text">
                    <h2 class="section-main-text-header">Text Alignment Types</h2>
                </div>

                <div class="text-container">
                    <!-- Text Alignment Types -->
                    <h3 class="text-left">Text Align Left</h3>
                    <h3 class="text-center">Text Align Center</h3>
                    <h3 class="text-right">Text Align Right</h3>
                </div>

                <div class="doc-image">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%2814%2C165%2C233%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253C%21--%2520Text%2520Alignment%2520Types%2520--%253E%250A%253Ch3%2520class%253D%2522text-left%2522%253EText%2520Align%2520Left%253C%252Fh3%253E%250A%253Ch3%2520class%253D%2522text-center%2522%253EText%2520Align%2520Center%253C%252Fh3%253E%2520%250A%253Ch3%2520class%253D%2522text-right%2522%253EText%2520Align%2520Right%253C%252Fh3%253E"
                        style="width: 100%; height:255px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <div class="section-main-text">
                    <h2 class="section-main-text-header">Paragraph Text Types</h2>
                </div>

                <div class="text-container">
                    <!-- Paragraph Text Types -->
                    <p class="paragraph-large">Paragraph Large Text</p>
                    <p class="paragraph-regular">Paragraph Regular Text</p>
                    <p class="paragraph-medium">Paragraph Medium Text</p>
                    <p class="paragraph-small">Paragraph Small Text</p>
                </div>

                <div class="doc-image">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%2814%2C165%2C233%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253C%21--%2520Paragraph%2520Text%2520Types%2520--%253E%250A%253Cp%2520class%253D%2522paragraph-large%2522%253EParagraph%2520Large%2520Text%253C%252Fp%253E%250A%253Cp%2520class%253D%2522paragraph-regular%2522%253EParagraph%2520Regular%2520Text%253C%252Fp%253E%2520%250A%253Cp%2520class%253D%2522paragraph-medium%2522%253EParagraph%2520Medium%2520Text%253C%252Fp%253E%250A%253Cp%2520class%253D%2522paragraph-small%2522%253EParagraph%2520Small%2520Text%253C%252Fp%253E%250A"
                        style="width: 100%; height: 300px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
                
                  
            </div>           
        </div>

    </div>
    <script src="../main.js"></script>
</body>
</html>